*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
}
.bg{
    width: 100%;
    height: 100%;
    /* position: relative; */
}
.bgimg {
    /* position: absolute; */
    width: 100%;
    min-height: 100vh;
    background: url( ./image/114_img-16-massagetochau-vn.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}

.logo_To_Chau{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-35%);
}
.logo_To_Chau img{
    border-radius: 50%;
    object-fit: center;
    background-position: center;
    width: 300px;
    height: 300px;
}
.get_input{
    width: 100%;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    /* transform: translateY(-50%); */
    margin-top: -90px;
    margin-bottom: 20px;
}

.get_input input{
    padding: 8px 10px;
    border: 1px solid #b9aeae;
    font-size: 12px;
    color: #333333;
    border-radius: 15px;
    margin: 10px 0;
}

.get_input button{
    padding: 8px 20px;
    background: red;
    color: #ffffff;
    outline: none;
    border: none;
    margin: 10px 5px;
}

.get_input button:hover{
    background: #c9302c;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 10px;
}
.img_content{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_content img{
    width: 100%;
    transition: all 0.5s
}
.card_content img:hover{
    transform: scale(0.9)
}
.img_content h2{
    font-size: 28px;
    color: red;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 30px;
}

.card_content .map{
    color: #07D;
    padding-left: 30px;
    margin-top: -20px;
}

.contact_us{
    width: 100%;
    height: 350px;
    background: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 30px;
}

.contact_us .maps{
    padding: 10px 0;
}
.contact_us .maps .name{
    color: #41190f;
    font-weight: 600;
}
.contact_us .maps .contact,
.contact_us .maps .number{
    color: #07D;
}

@media screen and (max-width: 585px) {
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
}